<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

        <%= javascript_include_tag "validacion" %>
<% question.ok=true %>
<div class="container">
  <div class="panel-center">
    <div class="card card-outline-secondary my-4">
      <div class="card-header">
        <h3>Pregunta</h3>
      </div>
      <div class="card-body">
        <div class="field">
          <%= form.text_field :titulo, id: :question_titulo, required: true ,placeholder:'Ingrese titulo' %>
        </div>

        <div class="field">
          <%= form.text_area :texto, id: :question_texto, required: true, size:"100x20" ,placeholder:'Escribe tu pregunta aqui'%>
        </div>
        <%if current_user.facultad.nombre== "" %>
        
            <div class= "field">
            <label>Facultad</label>
            <%= form.select  :facultad_id, Facultad.where(oculto: false).collect { |p|  [p.nombre, p.id] }%>
            <!--
           -->
          </div>
        <%end%>
        <hr>
        <div class= "field" align="left">
          <label>Etiquetas</label>
          <% Tag.where(borrado: false).each do |tag| %>
            <div class= "field">
              <%= check_box_tag "tags[]", tag.id %> <%= tag.nombre %>
            </div>
    
          <%end%>
        </div>

      <div class="actions">
          <%= submit_tag "Aceptar" %>
      </div>
              <hr>
<h3><%= link_to "Volver", :back , class: "btn btn-info", style: "color:white" %> </h3>
              
      </div>
      </div>
  </div>
</div>
<% end %>

