<p id="notice"><%= notice %></p>

<p>
<br>
<!--<h3><strong><%= link_to 'Volver al listado de preguntas', questions_path %></strong></h3>-->
<br>
<table width="50%" border="2" cellpadding="2" cellspacing="0" bordercolor="#000000" BGCOLOR="#f2f2f2">
	<tr> 
		<th><strong>Titulo de la pregunta: <%= @question.titulo %></strong>	</th>
	</tr>
	<tr> 
		<td><STRONG>Cuerpo de la pregunta:</STRONG> <br> <%= @question.texto %> <br> 

		<hr>
		<strong>Visitas: <%=@question.visitas%> ------------ Facultad de <%=@question.facultad.nombre %> </strong>
		<br>

		-----------------------------------------------------------------------------------------------------
		<br><strong>
		Etiquetas:
		<% @question.tags.each do |tag| %>
			<%=link_to tag.nombre, tag %>
    	<% end %></strong>
    		<br>
		-----------------------------------------------------------------------------------------------------
	<br>
		<strong>Escrito por: <%=link_to @question.user.email, @question.user %> | fecha de creacion: <%= @question.created_at%>  Puntaje: <%= @question.puntaje %> |
		<% if user_signed_in? %> 
			<%if @question.user.email==current_user.email %>
				<%= link_to 'Editar', edit_question_path(@question) %>
           		 <%= link_to 'Eliminar', @question, method: :delete, data: { confirm: '¿Estas seguro de realizar esta accion?' } %>
           	<%end%>
           	<% if current_user.email!=@question.user.email %>
			<% if HasVotoQuestion.where(question_id: @question.id).where(user_id: current_user.id).any? %>
				Ya votaste esta pregunta!
			<% else %>
			<div allign="left">
				<%= button_to "Votar +1",  question_sumar_puntaje_path(@question), method: :post %>
				<%= button_to "Votar -1",  question_restar_puntaje_path(@question), method: :post %>  
				</div>
			<%end%>
			<%end%>
		<%end%>
		</strong>
	</tr>
</table>
  
</p>
<table width="90%" border="0" cellpadding="1" cellspacing="0" bordercolor="#000000" BGCOLOR="#fafafa" >
	<% if @question.questioncomments.any? %>
		<tr> <h2>Comentarios</h2>
		</tr>
		<%end%>

<% @question.questioncomments.each do |questioncomment| %>
<tr>
<td align="center" BGCOLOR="#e0e6f8">
			<table width="80%" border="3" cellpadding="1" cellspacing="1" bordercolor="#000000" BGCOLOR="#f2f2f1" >
				<tr> 
				<br><br>
					<th><strong>Comentario del usuario:  <%=link_to questioncomment.user.email , questioncomment.user %> </strong>	</th>
				</tr>
				<tr> 
					<td><br> <%= questioncomment.texto %> <br>
					-----------------------------------------------------------------------------------------------------
					<br>
					<strong>fecha de creacion: <%= questioncomment.created_at%> | Puntaje: <%= questioncomment.puntaje %> |  
					<% if user_signed_in? %>
						<% if questioncomment.user.email==current_user.email %>
							<%=link_to 'Editar', edit_question_questioncomment_path(@question,questioncomment) %>
							<%= link_to 'Eliminar', question_questioncomment_path(@question,questioncomment),  :method => :delete %> |
						<%end%>
						<% if current_user.email!=questioncomment.user.email %>
							<% if HasVotoQuestioncomment.where(questioncomment_id: questioncomment.id).where(user_id: current_user.id).any? %>
								Ya votaste este comentario!
							<% else %>
								<%= button_to "Votar +1",  question_questioncomment_sumar_puntaje_path(@question,questioncomment), method: :post %>
								<%= button_to "Votar -1",  question_questioncomment_restar_puntaje_path(@question,questioncomment), method: :post %> 
							<%end%>
						<%end%>
					<% end %>
					 </strong> 
					</td>
				</tr>
			</table>

			<%end%>



</td>

</tr>

<td align="center" BGCOLOR="#e0e6f8">

  <% if user_signed_in? %>
  	<br>
  	<%= render "questioncomments/form" %>
  <%end%>
 </td>
</table>
	


<div class="field">
<% if @question.answers.any? %>
<table frame="box" border="3" cellpadding="2" bordercolor="#000000" BGCOLOR="#a9a9f5" align="center" width="90%">

	<tr></tr>
	<tr>
	     <div class="card card-outline-secondary my-4">
            <div class="card-header" align="center">
              Respuestas
            </div>
          </div>
    </tr>
	<td align="center">	<br>


	<% @question.answers.each do |answer| %>

	<table width="90%" border="2" cellpadding="2" cellspacing="0" bordercolor="#000000" BGCOLOR="#fafafa" >
		<tr> 
			<th BGCOLOR="#89daf5" ><strong>Respuesta del usuario: <%=link_to answer.user.email , answer.user%> </strong>	</th>
		</tr>
		<tr> 
			<td><br> <%= answer.texto %> <br>
			-----------------------------------------------------------------------------------------------------
			<br>
			<strong>fecha de creacion: <%= answer.created_at%> | Puntaje: <%= answer.puntaje %> | 
			
			<% if user_signed_in? %>
				<% if answer.user.email==current_user.email %>
					<%=link_to 'Editar', edit_question_answer_path(@question,answer) %>
					<%= link_to 'Eliminar', question_answer_path(@question,answer),  :method => :delete %> |
				<%end%>

				<% if answer.user.email!=current_user.email %>
					<% if HasVotoAnswer.where(answer_id: answer.id).where(user_id: current_user.id).any? %>
						Ya votaste esta respuesta!
					<% else %>
						<%= button_to "Votar +1",  question_answer_sumar_puntaje_path(@question,answer), method: :post %> 
						<%= button_to "Votar -1",  question_answer_restar_puntaje_path(@question,answer), method: :post %> 
					<%end%>
				<%end%>
			<% end %>
			</strong> 
			</td>
		</tr>
			<br>
		<td align="center" BGCOLOR="#e0e6f8">
		
			<% answer.answercomments.each do |answercomment| %>
			<table width="80%" border="3" cellpadding="2" cellspacing="1" bordercolor="#000000" BGCOLOR="#f2f2f1" >
				<tr> 
				<br><br>
					<th><strong>Comentario del usuario:<%=link_to answercomment.user.email  , answercomment.user%> </strong>	</th>
				</tr>
				<tr> 
					<td><br> <%= answercomment.texto %> <br>
					-----------------------------------------------------------------------------------------------------
					<br>
					<strong>fecha de creacion: <%= answercomment.created_at%> 
					| Puntaje: <%= answercomment.puntaje %> |  | 
					<% if user_signed_in? %>
						<% if answercomment.user.email==current_user.email %>
							<%=link_to 'Editar', edit_question_answer_answercomment_path(@question,answer,answercomment) %>
							<%= link_to 'Eliminar', question_answer_answercomment_path(@question,answer,answercomment),  :method => :delete %> |
						<%end%>
						<% if answercomment.user.email!=current_user.email %>
							<% if HasVotoAnswercomment.where(answercomment_id: answercomment.id).where(user_id: current_user.id).any? %>
								Ya votaste este comentario!
							<% else %>
								<%= button_to "Votar +1",  question_answer_answercomment_sumar_puntaje_path(@question,answer,answercomment), method: :post %> 
								<%= button_to "Votar -1",  question_answer_answercomment_restar_puntaje_path(@question,answer,answercomment), method: :post %> 
							<%end%>
						<%end%>
					<% end %>
					</strong> 
					</td>
				</tr>
			</table>

			<%end%>
			<% if user_signed_in? %>
			<% @answer=answer%>
			  <%= render "answercomments/form"  %>
			 <%end%>
		</td>
	</table>

	<br>
	<%end%>
	</td>
</table>
<%end%>

<br>
  <% if user_signed_in? %>
  <% @answer=Answer.new%>
  <%= render "answers/form" %>
  <%end%>