<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @question.titulo %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @question.texto %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
