<p id="notice"><%= notice %></p>

<p>
<br>
<br>
<table width="50%" border="2" cellpadding="2" cellspacing="0" bordercolor="#000000" BGCOLOR="#f2f2f2">
	<tr> 
		<th><strong>Titulo de la pregunta: <%= @question.titulo %></strong>	</th>
	</tr>
	<tr> 
		<td>Cuerpo de la pregunta: <br> <%= @question.texto %> <br>
		-----------------------------------------------------------------------------------------------------
		<br>
		<strong>Escrito por:  <%= @question.user.email %> | fecha de creacion: <%= @question.created_at%> </td> </strong>
	</tr>
</table>
  
</p>

<div class="field">

 <!-- <td><%= link_to 'Mostrar', @question_answer %></td> -->

<table frame="box" border="3" cellpadding="2" bordercolor="#000000" BGCOLOR="#a4a4a4" align="center" width="100%">
<h1 align="left">Respuestas</h1>
<tr></tr>
<td>
<br>

<% @question.answers.each do |answer| %>

<table width="100%" border="2" cellpadding="2" cellspacing="0" bordercolor="#000000" BGCOLOR="#f2f2f2" >
	<tr> 
		<th><strong>Respuesta del usuario: <%= answer.user.email %></strong>	</th>
	</tr>
	<tr> 
		<td><br> <%= answer.texto %> <br>
		-----------------------------------------------------------------------------------------------------
		<br>
		<strong>fecha de creacion: <%= answer.created_at%> </strong> | 
		<%=link_to 'Mostrar', question_answer_path(@question,answer) %> 
		<% if answer.user.email==current_user.email %>
			<%=link_to 'Editar', edit_question_answer_path(@question,answer) %>
		<%end%>
		<%=link_to 'Comentar', new_question_answer_answer_comment_path(@question,answer) %>
		</td>
	</tr>
</table>
<br>
<!--</table>
<tr>
<td rowspan="1" valign="middle" align="left"> <%= answer.texto %> </td>

<td><%= answer.user.email %></td>
</tr>
-->

<%end%>
</td>
</table>



<%link_to 'nuevo', new_question_answer_path(@question) %> 
<br>
  <% if user_signed_in? %>
  <h1>Responder: </h1>
  <%= render "answers/form" %>
  <%end%>


<% if user_signed_in? %>
<% if @question.user.email==current_user.email %>
<%= link_to 'Edit', edit_question_path(@question) %> |
<%end%>
<%end%>
<%= link_to 'Back', questions_path %>
