<p id="notice"><%= notice %></p>

<p>
	Escrito por: <%=@question.user.email %>
  <strong>Titulo:</strong>
  <%= @question.titulo %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @question.texto %>
</p>
<% if user_signed_in? %>
<% if @question.user.email==current_user.email %>
<%= link_to 'Edit', edit_question_path(@question) %> |
<%end%>
<%end%>
<%= link_to 'Back', questions_path %>
