<header>
<!--nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"-->
<nav class="navbar navbar-expand-lg navbar-dark bg-blue fixed-top">
        <%= image_tag "educanding.png" ,width: 200, height: 60 %>
        <a>
          <%params[:titulo]=nil%>
           <%= form_tag questions_path, method: :get  do %>
              <%= text_field_tag :titulo , params[:titulo], placeholder: "Buscar pregunta" %>
              <%= submit_tag "Buscar" , :name => nil ,class: "btn btn-info" , style: "color:white" %> 
            <%end%>
          </a>

      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <% if user_signed_in? %>
             <li style="color:white"> Bienvenido <%= current_user.email %></li>
          <a class="col-md-1" >
           <%= link_to 'Cerrar sesion' , destroy_user_session_path, method: :delete , style: "color:white" %> 
          </a>
            <a class="col-md-1" >
           <%=link_to 'Perfil', current_user , style: "color:white"%> 
          </a>


         <% else %>
         <li class="col-md">
            <%= link_to 'Iniciar sesion', new_user_session_path , style: "color:white" %>
          
          <li class="col-md">
          <%= link_to 'Crear cuenta', new_user_registration_path , style: "color:white" %>
          </li>






          <%end%>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href= "../../">Inicio
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="col-md">
            <% if user_signed_in? %>
              <% if current_user.puntaje >= Permiso.first.crearpost %>
                <li class="nav-item">
                <a class="nav-link" style="color:white" href="../../../../questions/new">Crear Pregunta</a>
                </li>
              <%end%>
            <%end%>
            
            <li class="nav-item">
              <a class="nav-link" style="color:white" href="../../../tags">Etiquetas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color:white" href="../../../../../facultads">Facultades</a>
            </li>
          <% if user_signed_in? %>  
            <% if current_user.email=="administrador@educanding.com" %>
          <li class="nav-item">
              <a class="nav-link" style="color:white" href="../../../../../permisos">Permisos</a>
            </li>
            <%end%>
               <%end%>
          </ul>
        </div>
      </div>
    </nav>
    </header>