<%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>

  <div class="field">
    <%= f.label :current_password %> <i>(Se necesita tu contraseña actual para la confirmacion del cambio)</i><br />
    <%= f.password_field :current_password %>
  </div>

  <div class="field">
    <%= f.label :password, "Contraseña nueva" %><br />
    <%= f.password_field :password, :autocomplete => "off"  %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="action_container">
    <%= f.submit %>
  </div>
<% end %>