<div class="container">
  <div class="panel-center">
    <div class="card card-outline-secondary my-4">
      <div class="card-header">
        <h3 style="color:darkblue"><Strong>Usuario <%=@user.email%></strong></h3>
      </div>
      <div class="card-body">
        <div class="field">
          <strong>Nombre: </strong><%=@user.nombre %>
        </div>
        <hr>
        <div class="field">
          <strong>Apellido: </strong><%=@user.apellido %>
        </div>
        <hr>
        <div class="field">
          <strong>Facultad: </strong><%=@user.facultad.nombre %>
        </div>
        <hr>
        <div class="field">
          <strong>Puntaje: </strong><%=@user.puntaje %>
        </div>
        <hr>
       <% if user_signed_in?%>
        <%if @user.email == current_user.email%>
        	<div>
			<%=link_to 'Editar Perfil', edit_user_registration_path, class: "btn btn-primary", style: "color:white" %>
			<%= link_to "Cambiar contraseña", edit_user_path, class: "btn btn-primary", style: "color:white" %>
			</div>
		<% end %>
		<% end %>
    <h3><%= link_to "Volver", :back , class: "btn btn-info", style: "color:white" %> </h3>
      </div>
      </div>
  </div>
</div>
</div>