<%= form_for([@question,@answer]) do |form| %>
<br>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :texto, value="Respuesta"%>
    <%= form.text_area :texto, id: :answer_texto, required: true, size:"100x20", placeholder:'Escribe una respuesta' %>
  </div>

  <div class="actions">
    <%= form.submit value="Aceptar" %>
  </div>
<% end %>
