<%= form_with(model: tag, local: true) do |form| %>

  <% if tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>





<div class="container">
  <div class="panel-center">
    <div class="card card-outline-secondary my-4">
      <div class="card-header">
        
        <font color="white">
<center>
<h2 style="background-color: grey"  >
  <strong style="color:white">ETIQUETA </strong>
 </h2> 
</center>
</font>
      </div>
      <div class="card-body">
        <div class="field">
          <%= form.label :nombre %>
          <%= form.text_field :nombre, id: :tag_nombre , required: true%>

        </div>
    <div class="actions">
      <%= form.submit "Aceptar"%>
    </div>

        <hr>
    
      </div>
      </div>
  </div>
</div>
</div>
<hr>
<h3><%= link_to "Volver", :back , class: "btn btn-info", style: "color:white" %> </h3>


<% end %>
