<p id="notice"><%= notice %></p>

<br><br>
<font color="white">
<center>
<h2 style="background-color: grey"  >
  <strong style="color:white" >LISTA DE ETIQUETAS</strong>
 </h2> 
</center>
</font>



<table BGCOLOR="#d6dbdf" width="50%" align="center">
  <thead>
    <tr BGCOLOR="#2e4053" >
      <th style="color:white"> &nbsp; Etiqueta</th>
      <th style="color:white" align="center"></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <% if tag.borrado == true %>
          <td><strong> <%= link_to tag.nombre, tag , style: "color:red"%> </strong> </td>
          <%else%>
            <td><strong><%= link_to tag.nombre, tag , style: "color:darkblue" %></strong> </td>
          <% if user_signed_in? %>
            <td><%= link_to 'Editar', edit_tag_path(tag) %></td>
            <td><%= link_to 'Borrar', tag, method: :delete, data: { confirm: '¿Esta seguro de realizar esta accion?' } %></td>
          <%end%>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
 <% if user_signed_in? %>
<%= link_to 'Nueva Etiqueta', new_tag_path ,class: "btn btn-success" , style:"color:white" %>
<%end%>
<%= link_to "Volver", :back , class: "btn btn-info", style: "color:white" %>




