<p id="notice"><%= notice %></p>
<br>
<br>
<p>
  <h2><strong> <%= @tag.nombre %></strong></h2>
 		
</p>
<% if @tag.questions.any? %>
	<h3>Preguntas formuladas:</h3>


<table BGCOLOR="#d6dbdf" width="100%" align="center">
  <thead>
    <tr BGCOLOR="gray" >
      <th>Titulo</th>
      <th>Texto</th>
      <th>Autor</th>
      <th>Puntaje</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tag.questions.each do |question| %>
      <tr>
        <td><%= question.titulo %></td>
        <td><%= question.texto %></td>
        <td><%= question.user.email %></td>
        <td><%= question.puntaje %> </td>
        <td align="center" ><%= link_to 'Mostrar', question %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>


<br>
<%else%>
	<h4> No hay preguntas relacionadas para esta etiqueta :(</h4>
<%end%>





<br>
<br>
<br>
<br>
<!--<%= link_to 'Edit', edit_tag_path(@tag) %> |-->
<h4><%= link_to 'Volver al listado de etiquetas', tags_path %></h4>
