<%= form_for([@question,@answer,@answercomment]) do |form| %>
  <% if @answercomment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answercomment.errors.count, "error") %> prohibited this answercomment from being saved:</h2>

      <ul>
      <% @answercomment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :texto %>
    <%= form.text_area :texto, id: :answercomment_texto,  size:"150x4"  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
