<%= form_for([@question,@answer,@answercomment]) do |form| %>
  <% if @answercomment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answercomment.errors.count, "error") %> prohibited this answercomment from being saved:</h2>

      <ul>
      <% @answercomment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="container">
  <div class="panel-center">
    <div class="card card-outline-secondary my-4">
      <div class="card-header">
        
<center>
<h3>
  Comentario de respuesta
 </h3> 
</center>
      </div>
      <div class="card-body">
        <div class="field">
         <%= form.text_area :texto, id: :answercomment_texto, required: true,  size:"150x4",placeholder:'Escribe un comentario'  %>
        </div>
    <div class="actions">
      <%= form.submit "Aceptar"%>
    </div>

        <hr>
    
      </div>
      </div>
  </div>
</div>
</div>
<hr>


<% end %>
