<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @answercomment.user %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @answercomment.answer %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @answercomment.texto %>
</p>

<%= link_to 'Edit', edit_question_answer_answercomment_path(@question,@answer,@answercomment) %> |
<%= link_to 'Borrar', question_answer_answercomment_path(@question,@answer,@answercomment),  :method => :delete %> |
<%= link_to 'Back', question_answer_path(@question,@answer) %>
